* {
	box-sizing: border-box;
}

body {
	background-color: lightblue;
}
header {
	text-align: center;
}

.bannerMain { 
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	display: inline;
	margin-right: 2rem;
}
.startButton {
	
	display: inline;
	font-family: 'Roboto';
	border-style: none;
	


}

.currentScore {
	grid-row: 3;
	grid-column: 4 / 5 span;
	
	font-family: 'Sonsie One';
	font-size: 50px; 
	opacity: 50%;
	display: inline;
	
	
}

.message { 
	font-family: 'Roboto', sans-serif;

}

/* .circle {
	height: 100px;
	width: 100px; 
	border-radius: 50%;
	background: white;
	text-align: center;
} */


.gameContainer {
	display: grid;
	background-color: lightblue;
	width: 100%;
	height: 100%;
	grid-gap: 5px;
	grid-template-columns: 1fr 200px 200px 1fr;
	grid-template-rows: 1fr 200px 200px;
	justify-content: space-around;
}

.flashClass {
	border-color: black;
	border-width: 10px;
	border-style: solid;
	transform: translateY(-4%);
	background: white;
	/* transition: border 1s; */
}


#yellow {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
	background-color: rgba(255, 255, 0, 0.767);
}
#yellow:active {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
    background-color: white;
    transform: translateY(4%);
}

#blue {
	grid-column: 3 / span 1;
	grid-row: 2 / span 1;
	background-color: rgba(0, 0, 255, 0.767);
}
#blue:active {
	background-color: white;
	transform: translateY(4%);
}

/* #blue:hover {
    background-color: white;
} */

#green {
	grid-column: 2 / span 1;
	grid-row: 3 / span 1;
	background-color: rgba(0, 128, 0, 0.836);
}

#green:active {
	background-color: white;
	transform: translateY(4%);
}

#red {
	grid-column: 3 / span 1;
	grid-row: 3 / span 1;
	background-color: rgba(255, 0, 0, 0.87);
}

#red:active {
	background-color: white;
	transform: translateY(4%);
}
